[submodule "gist.el"]
	path = gist.el
	url = git://github.com/defunkt/gist.el.git
[submodule "fuzzy-find-in-project"]
	path = fuzzy-find-in-project
	url = git://github.com/avvo/fuzzy-find-in-project.git
[submodule "textmate.el"]
	path = textmate.el
	url = git://github.com/defunkt/textmate.el.git
